.main {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: grey;
    flex-direction: column;
    
    label {
        font-size: 45px;
        font-weight: 500;
    }

    .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        
        button {
            margin-right: 50px;
        }
    }
 
    table {
        height: auto;
        width: auto;
        min-width: 100%;
        margin-bottom: 25px;

        td.mat-cell, th.mat-header-cell {
            width: 25%;
            text-align: center;
            justify-content:center;

            div.buttons-div {
                
                button {
                    margin-right: 10px;
                }
            }
        }
    }
}