<div class="main">

    <!-- PILOTS -->

    <label>Pilots</label>

    <div class="controls">
        <button id="addPilotButton" mat-stroked-button (click)="openAddDialog(dialogTypes.PILOT_DIALOG)">New Pilot</button>
        <mat-form-field appearance="standard">
            <mat-label>Filter Pilots</mat-label>
            <input matInput (keyup)="applyFilterPilots($event)" #input>
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="pilotsDataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let pilot"> {{pilot.name}} </td>
        </ng-container>

        <ng-container matColumnDef="nationality">
            <th mat-header-cell *matHeaderCellDef> Nationality </th>
            <td mat-cell *matCellDef="let pilot"> {{pilot.nationality}} </td>
        </ng-container>

        <ng-container matColumnDef="teamName">
            <th mat-header-cell *matHeaderCellDef> Team Name </th>
            <td mat-cell *matCellDef="let pilot"> {{getTeamNames(pilot.teamId)}} </td>
        </ng-container>

        <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let pilot">
                <div class="buttons-div">
                    <button id="deletePilotButton" (click)="deletePilot(pilot.id)" mat-stroked-button>Delete</button>
                    <button id="editPilotButton" (click)="openEditDialog(dialogTypes.PILOT_DIALOG,pilot.id)" mat-stroked-button>Edit</button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="pilotColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: pilotColumns;"></tr>
    </table>

    <!-- TEAMS -->

    <label>Teams</label>

    <div class="controls">
          <button id="addTeamButton" mat-stroked-button (click)="openAddDialog(dialogTypes.TEAM_DIALOG)">New Team</button>
        <mat-form-field appearance="standard">
            <mat-label>Filter Teams</mat-label>
            <input matInput (keyup)="applyFilterTeams($event)" #input>
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="teamsDataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let team"> {{team.name}} </td>
        </ng-container>

        <ng-container matColumnDef="engine">
            <th mat-header-cell *matHeaderCellDef> Engine </th>
            <td mat-cell *matCellDef="let team"> {{team.engine}} </td>
        </ng-container>

        <ng-container matColumnDef="pilotName">
            <th mat-header-cell *matHeaderCellDef> Pilots </th>
            <td mat-cell *matCellDef="let team"> {{getPilotNames(team.pilotIds)}} </td>
        </ng-container>

        <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef>Actions </th>
            <td mat-cell *matCellDef="let team">
                <div class="buttons-div">
                    <button id="deleteTeamButton" (click)="deleteTeam(team.id)" mat-stroked-button>Delete</button>
                    <button id="editTeamButton" (click)="openEditDialog(dialogTypes.TEAM_DIALOG,team.id)" mat-stroked-button>Edit</button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="teamsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: teamsColumns;"></tr>
    </table>

</div>