<div class="edit-dialog-main">
    <label *ngIf="data.dialogType === dialogTypes.PILOT_DIALOG">Edit Pilot</label>
    <label *ngIf="data.dialogType === dialogTypes.TEAM_DIALOG">Edit Team</label>

    <form *ngIf="data.dialogType === dialogTypes.PILOT_DIALOG" [formGroup]="dialogFg" class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nationality</mat-label>
            <input type="text" matInput formControlName="nationality">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Team</mat-label>
            <mat-select formControlName="team">
              <mat-option *ngFor="let team of teams$ | async" [value]="team.id">
                {{team.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </form>

    <form *ngIf="data.dialogType === dialogTypes.TEAM_DIALOG" [formGroup]="dialogFg" class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Pilots</mat-label>
            <mat-select formControlName="pilotIds" multiple>
                <mat-option *ngFor="let pilot of pilots$ | async" [value]="pilot.id">
                    {{pilot.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Engine</mat-label>
            <mat-select formControlName="engine">
                <mat-option *ngFor="let engine of engines" [value]="engine.type">
                    {{engine.type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <div class="buttons-div">
        <button [disabled]="!isFormValid()" id="editEntityButton" mat-stroked-button (click)="editEntity()">Add</button>
        <button id="closeEditDialogButton" mat-stroked-button (click)="closeDialog()">Cancel</button>
    </div>
</div>