.edit-dialog-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;
    }

    div.buttons-div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
}